<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <p>Test</p>
    <form class="todoList" action="/" method="post">
      <input type="text" name="todo" value="" placeholder="Add todos here">
      <button type = "submit">Add Todo</button>
      <div class="todoItems">
        {{#todos}}
          <input type = "checkbox" name = "todoCheck" value = {{.}}>{{.}}</input>
        {{/todos}}
        {{#todones}}
          <li>{{.}}</li>
        {{/todones}}
      </div>

    </form>
  </body>
</html>
